.container {
  display: grid;
  min-height: 100vh;
  align-content: space-between;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header . . ."
    ". main main ."
    "footer footer footer footer";
}

.header {
  text-align: center;
  grid-column: 1 / span 2;
}

.footer {
  text-align: center;
  padding: 1rem;
  grid-area: footer;
  background-color: lightslategray;
}

.main {
  grid-area: main;
  height: 100%;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
